{
  "parser": "@babel/eslint-parser",
  "extends": ["react-app", "prettier"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": false,
        "trailingComma": "es5",
        "arrowParens": "avoid"
      }
    ],
    "no-console": "warn"
  }
}
